<div class="container">
<h1>Ask something to your coach</h1>
<p>Please, enter a question</p>
<div class="form-group">

<form action="answer">
  <input type="text" name="question" class="form-text">
  <input type="submit" value="Ask!" class="btn btn-success">
</form>
</div>
</div>
