// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.block {
  border-left: 4px solid lightgrey;
  padding-left: 20px;
  margin-bottom: 20px;
}

.answer {
  background-color: #fffee2;
}
